/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;0,900;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --green: hsl(151 100% 75%);
  --psize: 1.8rem;
}

html {
  max-width: 100% !important; 
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important;
  color: white;
}

body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

i {
  font-family: FontAwesome !important;
}

p { 
  color: white;
  font-size: var(--psize);
  font-weight: 300;
  margin-bottom: 2rem;
}

p.no-margin {
  margin-bottom: 0 !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}

span.underline {
  position: relative;
}

span.underline::after{
  position: absolute;
  content: '';
  display: block;
  background-color: var(--green);
  height: 2px;
  width: 100%;
  bottom: -1px;
  right:0;
z-index: -1;
opacity: 40%;
-webkit-transform: scaleX(102%);
    -ms-transform: scaleX(102%);
        transform: scaleX(102%);
}

/* nav stuff */


#side-bar{
  --tray: hsl(151, 61%, 55%);
  --transition-time: 0.2s;
  position:fixed;
  bottom: 0;
	width: 100%;
	height: 90px;
  background: rgb(0,0,0);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(28%, rgba(0,0,0,1)), color-stop(75%, rgba(0,0,0,0.7540266106442577)), to(rgba(255,255,255,0)));
  background: -o-linear-gradient(bottom, rgba(0,0,0,1) 28%, rgba(0,0,0,0.7540266106442577) 75%, rgba(255,255,255,0) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 28%, rgba(0,0,0,0.7540266106442577) 75%, rgba(255,255,255,0) 100%);
  z-index: 99;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.toggle-btn{
	position: fixed;
  aspect-ratio: 1 / 1;
  width: 50px;
  height: 40px;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
  z-index: 999;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid black;
}
.toggle-btn span{
	width: 60%;
	height: 3px;
	background-color: #000000;
  margin: 3px auto;
  display: block;
}

.container--tray {
  position: relative;
  bottom: -400px;
  -webkit-transition:
  bottom var(--transition-time) ease-in-out;
  -o-transition:
  bottom var(--transition-time) ease-in-out;
  transition:
  bottom var(--transition-time) ease-in-out;
}

.container--padbottom {
  padding-bottom: 6rem;
}

.container--grid {
  max-width: 940px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
}

#side-bar.active .container--tray {
  bottom: -90px;
}

.container--tray .tray {

  -webkit-clip-path: ellipse(53% 67% at 90% 73%);

          clip-path: ellipse(53% 67% at 90% 73%);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 36rem;
  padding-top: 10rem;
  height: 32rem;
  background-color: var(--tray);
  z-index: 10;

}

.container--tray::before, .container--tray::after {
  content: '';
  background-color: var(--tray);
  position: absolute;
  display: block;
}
.container--tray::before {
  bottom: 0px;
  right: 0px;
  width: 44rem;
  height: 28rem;
-webkit-clip-path: ellipse(63% 56% at 76% 100%);
        clip-path: ellipse(63% 56% at 76% 100%);
}
.container--tray::after {
  bottom: 0px;
  right: 90px;
  width: 30rem;
height: 30rem;
-webkit-clip-path: ellipse(43% 37% at 75% 74%);
        clip-path: ellipse(43% 37% at 75% 74%);
}
.container--tray.active .tray {
  bottom: 0px;

}

.container--tray.active::before  {
  bottom: 0px;
}
.container--tray.active::after  {
  bottom: 38px;
}

.tray li{
	color: black;
	list-style: none;
  font-size: 2.5rem;
  cursor: pointer;
  text-align: right;
  padding-right: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  -o-transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.tray li a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.tray li:hover{
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

h1, h2, h3,h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

section {
  padding: 4rem 0 1rem;
  position: relative;

}

#home .grid-container {
  width: 100%;
  padding-top: min(25vw, 170px);
  padding-bottom: 8rem;
}

#hi h1{
  margin-bottom: 3rem;
  line-height: 6rem;
}

#hi p {
  width: 95%;
}


section > .container {
  padding: 0 2.5rem;
  overflow-x: hidden;
}

.bgimg {
  position: absolute;
  opacity: 30%;
  z-index: -1;
}

#home .bgimg {
  width: 80%;
  bottom: -6rem;
  right: -26%;
  -webkit-transform: rotate(-58deg);
      -ms-transform: rotate(-58deg);
          transform: rotate(-58deg);
}

section h6 {
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.bottom {
  position: relative;
}

#skills .bottom h3 {
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-size: 3rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 2.5rem 0;
  padding: 0.2rem 0.5rem;
}

#skills .bgimg {
  width: 119%;
  bottom: -10rem;
  left: -25%;
  -webkit-transform: rotate(-42deg);
      -ms-transform: rotate(-42deg);
          transform: rotate(-42deg);
}
#about .bgimg {
  width: 87%;
  bottom: -9rem;
  right: -22rem;
  -webkit-transform: rotate(12deg);
      -ms-transform: rotate(12deg);
          transform: rotate(12deg);
}

/* #skills .bottom h3:nth-child(even) {
  margin-left:auto
} */

.card {
  background: #ffffff00;
  border: 2px solid white;
  -webkit-box-shadow: 2px 4px 20px rgba(255, 255, 255, 0.2);
          box-shadow: 2px 4px 20px rgba(255, 255, 255, 0.2);
  color: white;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.card > div > div {
  padding: 2rem;
}

.card .head {
  border-bottom: 2px solid white;

}

.card .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head .title {
  border-right: 2px solid white;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
}
.head .date {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  line-height: 3rem;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.head h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.head h4 {
  font-size: 1.8rem;
  font-weight: 400;
}


.card img {
width: 100%;
height: auto;
border-bottom: 2px solid white;
}

.card .content p {
  text-align: justify;

}


.card .content a{
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: auto;
  text-align: right;
  display: block;
}

.card .content i {
  font-size: 3rem;
}

.frame {
  position: relative;
  width: 80%;
  margin: 7rem auto 10rem;
  padding: 3rem 0;
  display: block;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: auto;

text-align: center;
}

.frame::after, .frame::before {
  content: '';
  width: 2px;
  height: 125%;
  background-color: white;
  position: absolute;
}


.frame::after{
top: -4rem;
left: 2rem;
}
.frame::before{
bottom: -5rem;
right: 2rem;
}

.frame img {
  margin: 0 auto;
width: 65%;
height: auto;
outline: 2px solid white;
}

.frame h3 {
  position: absolute;
    font-size: 3.5rem;
    bottom: -7rem;
    left: 0rem;
    letter-spacing: 0.5rem;
}

#about .bottom p {
  width: 95%;
}
.container--button {
  margin-top: 10rem;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; 
  margin: 20px auto;
  height: 6rem;
  font-size: 38px;
  font-family: 'raleway';
  color: #f5f8fa;  
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.button--linkedin {
  background: #0077B5;
}


.button--instagram {
  background: -o-linear-gradient(45deg, #F09433 0, #E6683C 25%, #DC2743 50%, #CC2366 75%, #BC1888 100%);
  background: linear-gradient(45deg, #F09433 0, #E6683C 25%, #DC2743 50%, #CC2366 75%, #BC1888 100%); 
}

.button .icon {
  -ms-flex-preferred-size: 7rem;
      flex-basis: 7rem;
  text-align: center;
}

.button .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-size: 2rem;
  background-color: #000;
  height: calc(100% - 4px);
  -webkit-transform: translate(-2px, 0px);
      -ms-transform: translate(-2px, 0px);
          transform: translate(-2px, 0px);
}

.button .follow {
  line-height: 20px;
  margin-top: 20px;
  padding: 0;
}

  body {
    background-color: black;
  }

  

  
  .grid-container h1 {
    font-weight: 900;
    font-size: 6em;
    text-align: left;
  }
  

  .grid-container h1 span {
    color: var(--green);
  }
  







@media only screen and (min-device-width: 768px) {
section {
  width: 100%;
  margin: 0 auto;
}

.container--grid {
  max-width: 940px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-items: start;
}

.container--grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.container--grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.container--grid > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.container--grid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.container--grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.container--grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}

#home .bgimg {
  width: 110%;
  top: -7rem;
  left: -86%;
  -webkit-transform: rotate(125deg);
      -ms-transform: rotate(125deg);
          transform: rotate(125deg);
}

#skills .bgimg {
  width: 119%;
  bottom: -10rem;
  left: -105%;
  -webkit-transform: rotate(-42deg);
      -ms-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

#about .bgimg {
  width: 87%;
  bottom: -9rem;
  right: -42rem;
  -webkit-transform: rotate(12deg);
      -ms-transform: rotate(12deg);
          transform: rotate(12deg);
}

#home {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
#about {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  padding-top: 12rem;
}
#skills {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
#portfolio {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#portfolio .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; 
  -ms-flex-pack: distribute; 
      justify-content: space-around;
}
#portfolio .bottom .card{
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

#home .grid-container {
  padding-bottom: 0rem;
}
}