@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');

:root {
  --yellow: rgb(238, 255, 6);
}

html {
  width: 100vw; 
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  background-image: url("./static/sky.png");
  background-repeat: no-repeat;
  background-size: 200% 180%;
  background-attachment: scroll;
  overflow-x: hidden;
}

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}

span.underline {
  position: relative;
  text-decoration: underline #30E7B0 10px;
  text-underline-offset: 18px;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #home .image {
    display: none;
  }
  
  body {
    backdrop-filter: blur(16px) sepia(40%) brightness(80%);
  }
  
  .image {
    display: none;
  }
  
  .grid-container {
    width: 100vw;
    padding: 4rem;
    padding-top: 15vh;
  }
  
  .grid-container h1 {
    color: #fff;
    font-weight: 800;
    font-size: 6rem;
    text-align: center;
  }
  
  #hi {
    margin-bottom: 3rem;
  }

  #hi h1:nth-child(even) {
    font-size: 7rem;
    text-transform: uppercase;
  }
  
  .grid-container h1 span {
    color: rgb(238, 255, 6);
  }
  
  .glass-box {
    background: rgba(104, 101, 106, 0.25);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(7px);
    text-align: right;
    border-radius: 0 15px 15px 0;
    padding: 2rem 2rem 2rem 4rem;
    margin: 4rem 0;
    margin-left: -4rem;
    width: 80%;
  }
  
  .info .glass-box:nth-child(even) {
    margin-right: -4rem;
    align-self: flex-end;
    text-align: left;
    padding: 2rem 4rem 2rem 2rem;
    border-radius: 15px 0 0 15px;
  }

  .glass-box p{
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .info {
    display: flex;
    flex-direction: column;
  }
  

  
  #about {
    padding: 4rem;
  }
  
  .top {
    text-align: center;
    margin: 2rem 0;
  }

  .top h1{
    margin-top: 3rem;
  }

  #about .top .two,
  #about .top .three {
    display: none;
  }
  
  .top h1 {
    color: #fff;
    font-weight: 800;
    font-size: 6rem;
    text-transform: uppercase;
  }
  
  .bottom p {
    color: #fff;
    font-weight: 500;
    font-size: 3rem;
    margin: 3rem 0;
  }
  
  #portfolio {
    padding: 4rem 0 0 0;
  }
  
  .p-bottom {
    margin-top: 4rem;
    /* background-color: rgba(229, 249, 255, 0.807); */
    border-radius: 40px;
    padding: 1rem 5rem 7rem;
  }
  
  #portfolio .card {
    background: #ffffff;
    box-shadow: 2px 4px 20px rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(4, 27, 23);
    margin-top: 5rem;
  }
  
  .card img {
    width: 90%;
    height: auto;
    box-shadow: inset 2px 4px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  
  .card a {
    color: rgb(4, 27, 23);
    font-weight: 700;
    font-size: 3rem;
    text-decoration: underline;
    margin: 0 0 3rem 0;
  }
  
  .card p {
    font-weight: 400;
    font-size: 2rem;
  }
  
  #random {
    height: 60vh;
    padding: 4rem;
  }
  

  
  .glass-box-2 {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
    border-radius: 20px;
    padding: 3rem 2rem;
    margin: 6rem 2rem;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
  }
  
  #mail {
    text-decoration: none;
    font-size: 3rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.904);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

}


@media only screen and (min-device-width: 768px) {

  body {
    background-image: none;
  }

  #home {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  #home .image {
    display: unset;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: -1;
  }

  .image img {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 120%;
    height: auto;
    position: absolute;
    top: -40%;
    left: 0%;
  }

  #hi {
    z-index: 1;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }


  #hi span{
    color: var(--yellow);
  }

  .grid-container {
    padding: 4rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .glass-box {
    margin: 0rem 0 1rem 0;
    padding: 2.5rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
    border-radius: 20px;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
  }

  .glass-box p{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.76);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .glass-box:nth-child(1) {
    width: 50%;
  }
  .info div:nth-of-type(2) {
    align-self: flex-start;
    margin-top: -4rem;
    margin-left: 40%;
}

  #about {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 3rem;
  }

  .top {
    margin: 0;
  }

  #about .top {
    position: absolute;
    right: 30px;
    top: 0%;
    display: grid;
    grid-gap: 20px; 
/*     width: 30%;
    height: 30%; */
    grid-template-columns: repeat(2, minmax(100px, 200px));
    grid-auto-rows: minmax(60px, 167px);
/*     grid-template-rows: repeat(2, minmax(150px, 300px)); */
/*     grid-template-columns: repeat(2, minmax(100px, 200px)); */
  }

  #about .top h1 {
    display: none;
  }

  #about .top img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #about .top .one {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #about .top .two {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #about .top .three {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .bottom {
    width: 90%;
  }

  .bottom::before {
    content: '';
    background-color: var(--yellow);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0%;
    top: -2%;
    z-index: -1;
  }
  .bottom::after {
    content: '';
    background-color: rgba(171, 171, 171, 0.7);
    border-radius: 20px;
    transform: rotate(-30deg);
    width: 400px;
    height: 550px;
    position: absolute;
    bottom: -250px;
    left: -150px;
    z-index: -1;
  }

  #about .bottom p {
    margin-left: 1rem;
    color: black;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  #about .bottom p:nth-child(1){
    width: 50%;
  }

  #about .bottom p:nth-child(2) {
    width: 60%;
    margin-left: 22rem;
  }

  #portfolio {
    position: relative;
    height: 90vh;
    width: 100vw;
    padding: 0;
  }

  #portfolio .top {
    display: none;
  }


  .p-bottom {
    height: 45%;
    margin-top: 5rem;
    background-color: #E1E1E1;
    border-radius: 0px;
    display: flex;
    justify-content: space-around;
  }

  #portfolio .card {
    background: #30E7B0;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(4, 27, 23);
    margin-top: -5rem;
    width: 35%;
    height: 500px;
    padding: 4rem;
  }
  
  .card img {
    width: 90%;
    height: auto;
    box-shadow: inset 2px 4px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  
  .card a {
    color: rgb(4, 27, 23);
    font-weight: 700;
    font-size: 2rem;
    margin: 1.5rem auto;
    text-decoration: none;
  }
  
  .card p{
    font-size: 1rem;
  }

  #contact {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 3rem;
    text-align: center;
    background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  }

  #contact .top h1{
    margin-top: 3rem;
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;

  }

  #contact div:nth-of-type(2) p {
    width: 40%;
    color: #fff;
    font-size: 2rem;
    margin: 2rem auto;
  }


  #contact span {
    color: var(--yellow);
  }

  .glass-box-2 {
    width: 70%;
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
    border-radius: 20px;
    padding: 2rem 1rem;
    margin: 3rem auto;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
}

#mail {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.904);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
}