@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;0,900;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --green: hsl(151 100% 75%);
  --psize: 1.8rem;
}

html {
  width: 100vw; 
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  color: white;
}

i {
  font-family: FontAwesome !important;
}

p { 
  color: white;
  font-size: var(--psize);
  font-weight: 300;
  margin-bottom: 2rem;
}

p.no-margin {
  margin-bottom: 0 !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}

span.underline {
  position: relative;
}

span.underline::after{
  position: absolute;
  content: '';
  display: block;
  background-color: var(--green);
  height: 2px;
  width: 100%;
  bottom: -1px;
  right:0;
z-index: -1;
opacity: 40%;
transform: scaleX(102%);
}

/* nav stuff */


#side-bar{
  position:fixed;
  top: 0;
	width: 100%;
	height: 90px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(79%, rgba(0, 0, 0, 0.8)), to(transparent));
  background-image: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.8) 79%, transparent);
  z-index: 99;
	transition: .4s;
}

.toggle-btn{
	position: fixed;
  aspect-ratio: 1 / 1;
  width: 50px;
  height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
  z-index: 999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.toggle-btn span{
	width: 60%;
	height: 3px;
	background-color: #000000;
  margin: 3px auto;
  display: block;
}

#side-bar .tray {
  position: absolute;
  top: 0;
  right: -300px;
  height: 50vh;
  background-color: #000000;
}
#side-bar.active .tray {
  right: 0px;

}

li{
	color: #000;
	list-style: none;
	font-size: 50px;
	cursor: pointer;
	padding-left:5px; 
}

li:hover{
	background: #000;
	color: red;
}

h1, h2, h3,h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

section {
  padding: 0rem 0 8rem;
  position: relative;
}

#home .grid-container {
  width: 100%;
  padding-top: 15vh;
  padding-bottom: 20vh;
}

#hi h1{
  margin-bottom: 3rem;
  line-height: 6rem;
}

#hi p {
  width: 95%;
}


section > .container {
  padding: 0 2.5rem;
}

.bgimg {
  position: absolute;
  opacity: 30%;
  z-index: -1;
}

#home .bgimg {
  width: 80%;
  bottom: -6rem;
  right: -26%;
  transform: rotate(-58deg);
}

section h6 {
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
}

#skills .bottom h3 {
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-size: 3rem;
  display: block;
  width: fit-content;
  margin: 0 0 2.5rem 0;
  padding: 0.2rem 0.5rem;
}

#skills .bgimg {
  width: 119%;
  bottom: -10rem;
  left: -25%;
  transform: rotate(-42deg);
}
#about .bgimg {
  width: 87%;
  bottom: -2rem;
  right: -22rem;
  transform: rotate(12deg);
}

/* #skills .bottom h3:nth-child(even) {
  margin-left:auto
} */

.card {
  background: #ffffff00;
  border: 2px solid white;
  box-shadow: 2px 4px 20px rgba(255, 255, 255, 0.2);
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.card > div > div {
  padding: 2rem;
}

.card > div {
  border-bottom: 2px solid white;

}

.card .head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.head .title {
  border-right: 2px solid white;
  flex: 3 1 auto;
}
.head .date {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  line-height: 3rem;
  flex-basis: 20%;
}

.head h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.head h4 {
  font-size: 1.8rem;
  font-weight: 400;
}


.card img {
width: 100%;
height: auto;
border-bottom: 2px solid white;
}

.card .content p {
  text-align: justify;

}


.card .content a{
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: auto;
  text-align: right;
    display: block;
}

.card .content i {
  font-size: 3rem;
}

.frame {
  position: relative;
  width: 80%;
  margin: 7rem auto 10rem;
  padding: 3rem 0;
  display: block;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: auto;

text-align: center;
}

.frame::after, .frame::before {
  content: '';
  width: 2px;
  height: 125%;
  background-color: white;
  position: absolute;
}


.frame::after{
top: -4rem;
left: 2rem;
}
.frame::before{
bottom: -5rem;
right: 2rem;
}

.frame img {
  margin: 0 auto;
width: 65%;
height: auto;
outline: 2px solid white;
}

.frame h3 {
  position: absolute;
    font-size: 3.5rem;
    bottom: -7rem;
    left: 0rem;
    letter-spacing: 0.5rem;
}

#about .bottom p {
  width: 95%;
}
 @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #home .image {
    display: none;
  }
  


  body section p:first-child {
    margin-top: 0;
  }
  
  body {
    background-color: black;
  }
  
  .image {
    display: none;
  }
  

  
  .grid-container h1 {
    font-weight: 900;
    font-size: 6em;
    text-align: left;
  }
  

  .grid-container h1 span {
    color: var(--green);
  }
  
  .glass-box {
    background: rgba(104, 101, 106, 0.25);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(7px);
    text-align: right;
    border-radius: 0 15px 15px 0;
    padding: 3rem;
    margin: 4rem 0;
    margin-left: -3rem;
    width: 90%;
  }
  
  .info .glass-box:nth-child(even) {
    margin-right: -3rem;
    align-self: flex-end;
    text-align: left;
    border-radius: 15px 0 0 15px;
  }

  .glass-box p{
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .info {
    display: flex;
    flex-direction: column;
  }
  


  
  .glass-box-2 {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
    border-radius: 20px;
    padding: 3rem 2rem;
    margin: 6rem 2rem;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
  }
  
  #mail {
    text-decoration: none;
    font-size: 3rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.904);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  #random{
    padding-bottom: 5rem;
  }

}


@media only screen and (min-device-width: 768px) {

  body {
    background-image: none;
  }

  #home {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  #home .image {
    display: unset;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: -1;
  }

  .image img {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 120%;
    height: auto;
    position: absolute;
    top: -40%;
    left: 0%;
  }


  .grid-container {
    padding: 4rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .glass-box {
    margin: 0rem 0 1rem 0;
    padding: 2.5rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
    border-radius: 20px;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
  }

  .glass-box p{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.76);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .glass-box:nth-child(1) {
    width: 50%;
  }
  .info div:nth-of-type(2) {
    align-self: flex-start;
    margin-top: -4rem;
    margin-left: 40%;
}

  #about {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 3rem;
  }

  .top {
    margin: 0;
  }

  #about .top {
    position: absolute;
    right: 30px;
    top: 0%;
    display: grid;
    grid-gap: 20px; 
/*     width: 30%;
    height: 30%; */
    grid-template-columns: repeat(2, minmax(100px, 200px));
    grid-auto-rows: minmax(60px, 167px);
/*     grid-template-rows: repeat(2, minmax(150px, 300px)); */
/*     grid-template-columns: repeat(2, minmax(100px, 200px)); */
  }

  #about .top h1 {
    display: none;
  }

  #about .top img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #about .top .one {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #about .top .two {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #about .top .three {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .bottom {
    width: 90%;
  }

  .bottom::before {
    content: '';
    background-color: var(--yellow);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0%;
    top: -2%;
    z-index: -1;
  }
  .bottom::after {
    content: '';
    background-color: rgba(171, 171, 171, 0.7);
    border-radius: 20px;
    transform: rotate(-30deg);
    width: 400px;
    height: 550px;
    position: absolute;
    bottom: -250px;
    left: -150px;
    z-index: -1;
  }

  #about .bottom p {
    margin-left: 1rem;
    color: black;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  #about .bottom p:nth-child(1){
    width: 50%;
  }

  #about .bottom p:nth-child(2) {
    width: 60%;
    margin-left: 22rem;
  }

  #portfolio {
    position: relative;
    height: 90vh;
    width: 100vw;
    padding: 0;
  }

  #portfolio .top {
    display: none;
  }


  .p-bottom {
    height: 45%;
    margin-top: 5rem;
    background-color: #E1E1E1;
    border-radius: 0px;
    display: flex;
    justify-content: space-around;
  }

  #portfolio .card {
    background: #30E7B0;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(4, 27, 23);
    margin-top: -5rem;
    width: 35%;
    height: 500px;
    padding: 4rem;
  }
  
  .card img {
    width: 90%;
    height: auto;
    box-shadow: inset 2px 4px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  
  .card a {
    color: rgb(4, 27, 23);
    font-weight: 700;
    font-size: 2rem;
    margin: 1.5rem auto;
    text-decoration: none;
  }
  
  .card p{
    font-size: 1rem;
  }

  #contact {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 3rem;
    text-align: center;
    background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  }

  #contact .top h1{
    margin-top: 3rem;
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;

  }

  #contact div:nth-of-type(2) p {
    width: 40%;
    color: #fff;
    font-size: 2rem;
    margin: 2rem auto;
  }


  #contact span {
    color: var(--yellow);
  }

  .glass-box-2 {
    width: 70%;
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
    border-radius: 20px;
    padding: 2rem 1rem;
    margin: 3rem auto;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
}

#mail {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.904);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
}